Notes 10/3/25: Variables, Types, Expressions

1.1 Type Casting Example

In [27]:
number = "13"
print (int(number) + 12)

25

1.2 Fahrenheit to Celsius Converter

In [28]:
temp = input("Enter temperature in Fahrenheit: ")

def convert_temp(t):
    return (t-32) / 1.8

print(convert_temp(int(temp)))

ValueError: invalid literal for int() with base 10: ''

1.3 Feet to Inches Converter

In [ ]:
f = 7
i = 2


def feet_to_inches(feet):
    return feet * 12
def inches_to_cm(inches):
    return inches * 2.54


inch_conv = feet_to_inches(f) + i
conv = inches_to_cm(inch_conv)

if conv > 200:
    print("That's tall!")
    print(f"{conv} cm")
elif conv > 100:
    print("That's average.")
    print(f"{conv} cm")
else:
    print("That's short.")
    print(f"{conv} cm")

That's tall!
218.44 cm

Print 1-10

In [ ]:
for i in range(1,11):
    print(f"{i}", end="")

12345678910

Grade Calculation

In [30]:
scores = [17,30,100,99,52,1]
def calculate_grades(scores):
    grades = []
    for score in scores:
        if score >= 90:
            grades.append("A")
        elif score >= 80:
             grades.append("B")
        elif score >= 70:
            grades.append("C")
        elif score >= 60:
            grades.append("D")
        else:
            grades.append("F")
    print("Done Grading")
    return grades
print(calculate_grades(scores))

Done Grading
['F', 'F', 'A', 'A', 'F', 'F']

In [2]:
inputs = [0, 2, 4, 6, 8, 10, -1, 10, 8, 6, 4, 2]
for i in inputs:
    print(i)
    if i == -1:
        break

0
2
4
6
8
10
-1

String Methods

In [ ]:
full_name = "John Doe-Smith"
print(len(full_name))
second_name = 'Elizabeth de sea Silva'
list_from_my_name = full_name.split('-')
print(list_from_my_name)
print(full_name.split(' '))
lst = [list_from_my_name[0], list_from_my_name[1]]
print(lst)


food = ["apple", "banana", "orange"]
print("a" in food[0])

14
['John Doe', 'Smith']
['John', 'Doe-Smith']
['John Doe', 'Smith']
False

List of Lists

In [14]:
ascii_subset = [
        [65, 'A'],
        [66, 'B'],
        [67, 'C'],
        [68, 'D'],
        [69, 'E'],
    ]
print(ascii_subset[0])  # [65, 'A']
print(ascii_subset[0][1])  # 'A'

##ord()
print(ord('A'))  # 65

##chr()
print(chr(65))  # 'A'

[65, 'A']
A
65
A

In [ ]:
books = ["pride and Prejudice", "moby Dick", "to Kill a Mockingbird"]
book_section = []

for b in books:
    if b != "":
        unicode_num = ord(b[0])

    if 97 < unicode_num < 122:
        unicode_num = unicode_num - 32
        book_section.append(chr(unicode_num))
print(book_section)

['P', 'M', 'T']

In [42]:


books = ["pride and Prejudice", "moby Dick", "to Kill a Mockingbird", "Brave New World", "The Great Gatsby", "The Catcher in the Rye", "The Hobbit", "Fahrenheit", "Jane Eyre", "Wuthering Heights", "The Odyssey", "Crime and Punishment", "The Brothers Karamazov", "War and Peace", "Anna Karenina", "Madame Bovary", "The Divine Comedy", "Hamlet", "Macbeth"]

alphabetical_list = [0]*26

for b in books:
    for i in range(len(b)):
        chr_num = ord(b[i])
        if 65 <= chr_num <= 90: #uppercase
            alphabetical_list[chr_num - 65] += 1
        if 97 <= chr_num <= 122: #uppercase
            alphabetical_list[chr_num - 97] += 1

print(alphabetical_list)

[24, 9, 9, 12, 34, 1, 5, 18, 16, 2, 5, 4, 10, 16, 10, 4, 0, 18, 6, 19, 3, 4, 4, 0, 8, 1]